---
import Boilerplate from "../layouts/Boilerplate.astro"
---
<Boilerplate title="Contact Us | Mansfield Mobile Tyre" description="Get in touch with Mansfield Mobile Tyre for all your tyre service needs. Contact us today for inquiries or to schedule an appointment.">
    <section class="bg-light py-5 text-center">
        <h1 class="mb-3 fw-bold">Contact Mansfield Mobile Tyres</h1>
        <p class="lead">We're here to help with all your tyre needs. Get in touch with us today!</p>
    </section>
    <main class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h2>Contact Information</h2>
                <p>If you have any questions or need to schedule a service, feel free to contact us:</p>
                <ul>
                    <li><strong>Phone:</strong> <a href="tel:01623325123">01623 325 123</a></li>
                    <li><strong>Business Hours:</strong> Mon-Sun: 8am - 6pm</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h2>Send Us a Message</h2>
                <form method="POST" action="#" data-netlify="true">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="tel" class="form-label">Tel:</label>
                        <input type="tel" name="tel" id="tel" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message:</label>
                        <textarea class="form-control" id="message" rows="4" name="message" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark">Send Message</button>
                </form>
            </div>
        </div>
    </main>
</Boilerplate>
