<header>
<div class="text-center py-5">
  <p class="h1 fw-bold">Mansfield Mobile Tyres</p>
  <p class="h2">Call us for a quote on 01623 325 123</p>
</div>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
      <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/mobile-tyre-fitting">Mobile Tyre Fitting</a>
          <a class="nav-link" href="/puncture-repair">Puncture Repair</a>
          <a class="nav-link" href="/locking-wheel-nut-removal">Locking Wheel Nut Removal</a>
          <a class="nav-link" href="/contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>
</header>